
.logo-img{
    height: 30px;
}

.banner{
    background-image: url(../images/Music_Concert\ -2.jpg);
    height:150px;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}


#h1-banner{
    color:white;
}

.a-nav{
    font-weight:500;
}


.a-nav:hover{
    font-weight:600;
    color:white;
    background-color: rgb(190, 40, 40);
    
}

body{
    background-color:rgb(236, 236, 236);
}

.social-media{
    width: 40px;
}
